rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function logado() { return request.auth != null; }
    function souEu(uid) { return logado() && request.auth.uid == uid; }
    function meuRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }
    function souAdmin() { return logado() && meuRole() == 'admin'; }
    match /users/{userId} {
      allow read: if logado();
      allow create: if souEu(userId)
        && request.resource.data.role in ['cliente', 'profissional']
        && request.resource.data.blocked == false;
      allow update: if souAdmin() || (
        souEu(userId)
        && request.resource.data.role == resource.data.role
        && request.resource.data.balance == resource.data.balance
        && request.resource.data.blocked == resource.data.blocked
      );
      allow delete: if false;
    }
    match /requests/{pedidoId} {
      allow read: if logado();
      allow create: if logado()
        && request.resource.data.clienteId == request.auth.uid
        && request.resource.data.providerId == null
        && request.resource.data.status == 'aberto';
      allow update: if souAdmin() || (logado() && (
        (resource.data.clienteId == request.auth.uid
          && request.resource.data.clienteId == resource.data.clienteId
          && request.resource.data.comissaoPaga == resource.data.comissaoPaga)
        ||
        (resource.data.providerId == null
          && request.resource.data.providerId == request.auth.uid
          && request.resource.data.status == 'aceito')
      ));
      allow delete: if souAdmin() || resource.data.clienteId == request.auth.uid;
    }
    match /chats/{chatId} {
      function participanteDoChat() {
        return chatId == 'suporte_' + request.auth.uid ||
          (exists(/databases/$(database)/documents/requests/$(chatId)) &&
           (get(/databases/$(database)/documents/requests/$(chatId)).data.clienteId == request.auth.uid ||
            get(/databases/$(database)/documents/requests/$(chatId)).data.providerId == request.auth.uid));
      }
      allow read, write: if logado() && (participanteDoChat() || souAdmin());
      match /messages/{messageId} {
        allow read, write: if logado() && (participanteDoChat() || souAdmin());
      }
    }
    match /suporte_chats/{userId} {
      allow read, write: if souAdmin() || souEu(userId);
    }
    match /pix_payments/{paymentId} {
      allow read: if logado() && resource.data.userId == request.auth.uid;
      allow write: if false;
    }
    match /earnings/{docId} {
      allow read: if souAdmin();
      allow write: if false;
    }
    match /config/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}